@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Apply global dark styles here */
body {
  @apply bg-[#EEEEEE] font-geist dark:bg-[#141414] dark:text-[#f3f3f3];
}

.tiptap {
  border-radius: 0.375rem;
}

.editor-container {
  margin: 0.5rem;
  @apply rounded-lg mt-8;
}
